* {
  box-sizing: border-box;
} 
*::after, *::before {
  box-sizing: inherit;
}

html, body {
  margin: 0 ;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

.calculadora {
  width: 100%;
  height:100vh;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #531a7c, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: center;
  ;
}
.calculadora__grid {
  background-color: rgb(250, 219, 219);;
  padding: 1rem;
  height: 80vh;
  width: 60vh;
  gap: .2rem;
  display: grid;
}
.calculadora__display {
  background-color: rgb(216, 243, 253) ;
  grid-row: 1 / 3;
  border-radius: 1rem;

  box-shadow: 0 0 2px 1px red;
}
.calculadora__operando,
.calculadora__resultado {
  height: 50%;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
.calculadora__operando{
  font-size: 1.8rem;
  color: #771034;
}
.calculadora__resultado{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #240b36;
}
.calculadora__teclado {
  grid-row: 3 / 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .2rem;
  padding: .5rem;
}
.calculadora__tecla--span {
  grid-column: 3 / 5;
}
.calculadora__tecla {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: #240b36;
  color: #fff;
  transition: all .3s ease;
  overflow: hidden;
  
}
.calculadora__tecla:hover {
  background-color: #fff;
  color: #240b36;
  font-size: 2.2rem;
}
.calculadora__tecla--yellow {
  background-color: #c31432 ;
  font-size: 1.8rem;
  font-weight: 700;
}
.calculadora__tecla--gray {
  background-color: #771034;
  color: rgb(216, 243, 253);
}