:root {
  --fuentePrincipal: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
} 
*::after, *::before {
  box-sizing: inherit;
}

html, body {
  margin: 0 ;
  padding: 0;
  font-size: 62.5%;
  font-family: var(--fuentePrincipal) ;
}
